{% load static %}
{% load statistics_tags %}
<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
    <title>Manager</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
         <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->

       <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="#">Survey Manager Statistics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">

                </div>
            </nav>
        </div>


        <div>
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <!--
                            <h2 class="pageheader-title">C3 Charts </h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Charts</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">C3 Charts</li>
                                    </ol>
                                </nav>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- pie chart  -->
                    <!-- ============================================================== -->
                    <!--
                    <div class="col-12">
                        <div class="card">
                            <div class="text-center">
                                <h5 class="card-header">Pie Chart </h5>
                            </div>

                            <div class="card-body">
                                <div id="c3chart_pie"></div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- ============================================================== -->
                    <!-- end pie chart  -->
                    <!-- ============================================================== -->

                </div>
                   <!-- ============================================================== -->

                <!-- recent orders  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    <div class="row col-xl-12">
                        <div class="card col-xl-12">
                        <h5 class="card-header">
                            Available Quizzes
                            <div style="float: right">
                                <a target="_blank" href="/admin/quiz/quiz/add/" class="btn btn-primary btn-xs" >
                                    <span class="fas fa-plus"> Add</span>
                                </a>
                            </div>

                        </h5>


                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th class="border-0">Quiz name</th>
                                                <th class="border-0">Nº Questions</th>
                                                <th class="border-0">Responses</th>
                                                <th class="border-0">actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% csrf_token %}
                                            {% for obj in object_list %}
                                            <tr>


                                                <td>{{obj.quiz.id}}</td>
                                                <!--
                                                <td>
                                                    <div class="m-r-10"><img src="assets/images/product-pic.jpg" alt="user" class="rounded" width="45"></div>
                                                </td>
                                                -->
                                                <td>{{obj.quiz}}</td>
                                                <td>{{obj.question_number}}</td>
                                                <td>{{obj.score}}</td>

                                                <td>
                                                    <p >
                                                        <button class="btn btn-primary btn-xs" data-title="Details" data-toggle="modal"  data-target="#myModal"  data-quiz-id="{{obj.quiz.id}}">
                                                            <span class="fas fa-chart-bar"> Chart</span>
                                                        </button>

                                                        <a target="_blank" href="/admin/quiz/quiz/{{obj.quiz.id}}/change/" class="btn btn-primary btn-xs" >
                                                            <span class="fas fa-edit"> Edit</span>
                                                        </a>
                                                        <a target="_blank" href="{% url 'quiz-view' obj.quiz.id%}" class="btn btn-primary btn-xs">
                                                            <span class="fas fa-edit"> Answer</span>
                                                        </a>
                                                        <a target="_blank" href="/admin/quiz/quiz/{{obj.quiz.id}}/delete/" class="btn btn-danger btn-xs" >
                                                             <span class="fas fa-trash"> Delete</span>
                                                        </a>
                                                    </p>
                                                </td>
                                            </tr>
                                             {% endfor %}

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- end recent orders  -->

            </div>

              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Most voted options</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                       <div class="container-fluid">
                           <div class="row">
                           <!--
                           <div class="col-lg-6">

                                <div id="chartsContainer"></div>
                           </div>
                           <div id="content" class="col-lg-6">

                           </div>
                            -->
                            <div id="chartsContainer"></div>
                        </div>

                    </div>


                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                </div>
              </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2019. All rights reserved</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/C3chartjs.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <script>





$('#myModal').on('shown.bs.modal', function (e) {

     var quiz_id = $(e.relatedTarget).data('quiz-id');

     $.ajax({
        url : "chart_process/",
        type : "POST",
        data : {
          'quiz_id': quiz_id,
          'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()
        },
        dataType: 'json',
        success : function(response) {
        //alert(JSON.stringify(response.data[0].id))
        console.log(JSON.stringify(response.data))


        var names = response.data
        var x = 0;


          var iDiv = document.createElement('div');
          iDiv.id = 'chart'
          document.getElementById('chartsContainer').appendChild(iDiv);

          var chart = c3.generate({
            bindto : "#chart",
            padding: {
                top: 0,
                right: 50,
                bottom: 0,
                left: 10,
              },
            data: {
               columns: names,
                type : 'pie',

                keys: {
                  names: 12,
                  value: ['choices'],

                },
                names: {
                  choices: ''

                }
            }

          });
            document.getElementById('chartsContainer').appendChild(iDiv);
            AddQuestions(response.questions);


       }, //end of sucess
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
             alert(err)

        }
    });

})
    </script>
</body>

</html>