{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Full Page CSS -->
    <link rel='stylesheet' href="{% static 'css/jquery.fullPage.css'%}">
    <!-- My Custom CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>

      <div class="header-top clearfix">
        <h1 style="color:white; font-weight: bold;" class="l-center">{{quiz}}</h1>

        <a class="l-right toggle-menu" href="#">
          <i></i>
          <i></i>
          <i></i>
        </a>
      </div>
      <!--
      <nav class="hide">
        <ul id="menu">
         {% for item in object.question_list %}
          <li data-menuanchor="firstSection">
            <a href="#firstSection" title="First Section"></a>
          </li>
         {% endfor %}
        </ul>
      </nav>
    -->
    </header>

    <div id="fullpage">

       <form id="quiz-form" method="post">{% csrf_token %}
          {% for form, question_id in obj_list %}
              <section class="vertical-scrolling">

                  <div style="background-color: #348899" class="horizontal-scrolling">
                      <div class="container">
                        <div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded">
                            <div class="row">
                                <div  class="col-sm-3">
                                        <img  width="200" height="200" class="shadow-sm p-3 mb-5 rounded-circle" src="{{ question_id|get_image_from_question}}" alt="quiz image">
                                </div>
                                <div class="col-sm-9">
                                    <h1 class="display-4">{{ form.label }}</h1>

                                        <li>{{ form }}</li>


                                </div>
                             </div>

                         </div>
                       </div>


                      <div class="inner" id="bt-submit"></div>


                    <!-- <a id="button2Id" href="#firstSection/2" class="icon-up-open-big"></a> -->
                  </div>


              </section>

          {% endfor %}



       </form>

         <!--
        <section class="vertical-scrolling">
    <h2>fullPage.js</h2>
    <h3>This is the second section</h3>
  </section>
  <section class="vertical-scrolling">
    <h2>fullPage.js</h2>
    <h3>This is the third section</h3>
  </section>
  -->
    </div>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/jquery.fullPage.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script>

        // variables
        var $header_top = $('.header-top');
        var $nav = $('nav');

        // toggle menu
        $header_top.find('a').on('click', function() {
          $(this).parent().toggleClass('open-menu');
        });



        // fullpage customization
        var myAnchors = []

        for(var i = 1; i<={{ object.question_list|length }}; i++){
            myAnchors.push('Question' + i);
        }

        $('#fullpage').fullpage({
          //sectionsColor: ['#348899'],
          sectionSelector: '.vertical-scrolling',
          slideSelector: '.horizontal-scrolling',
          navigation: true,
          slidesNavigation: false,
          controlArrows: true,

          anchors: myAnchors,


          menu: '#menu',

          afterLoad: function(anchorLink, index) {
            $header_top.css('background', 'rgba(0, 47, 77, .3)');
            $nav.css('background', 'rgba(0, 47, 77, .25)');
            //if (index == 3) {
               // $('#fp-nav').hide();
              //}

            if(index === $('#fullpage .vertical-scrolling').length){ //if in last page

                $('.inner').show()
                if (($(".inner").html().length <= 0)){ //if not have some content inside div
                        $(".inner").append("<input id=\"button2Id\" class=\"btn btn-primary btn-lg active\" type=\"submit\" value=\"Enviar\">")
                }
            }
            else{
                // $('.inner').hide();

            }

          },

          onLeave: function(index, nextIndex, direction) {
            if(index == 5) {
              $('#fp-nav').show();
            }
          },

          afterSlideLoad: function( anchorLink, index, slideAnchor, slideIndex) {
            if(anchorLink == 'fifthSection' && slideIndex == 1) {
              $.fn.fullpage.setAllowScrolling(false, 'up');
              $header_top.css('background', 'transparent');
              $nav.css('background', 'transparent');
              $(this).css('background', '#374140');
              $(this).find('h2').css('color', 'white');
              $(this).find('h3').css('color', 'white');
              $(this).find('p').css(
                {
                  'color': '#DC3522',
                  'opacity': 1,
                  'transform': 'translateY(0)'
                }
              );
            }
          },

          onSlideLeave: function( anchorLink, index, slideIndex, direction) {
            if(anchorLink == 'fifthSection' && slideIndex == 1) {
              $.fn.fullpage.setAllowScrolling(true, 'up');
              $header_top.css('background', 'rgba(0, 47, 77, .3)');
              $nav.css('background', 'rgba(0, 47, 77, .25)');
            }
          }
        });

        $(document).on('click', '#button2Id', function() { //this is because append prevent button actions, and form can't submit
            $("#quiz-form").submit();
        });

        $('input:radio').change( //when any radio is clicled slide will move down :)
                function(){
                    $.fn.fullpage.moveSectionDown();
                }
            );

    </script>

</body>

</html>