{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css'>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>

      <div class="header-top clearfix">
        <h1 class="l-center"><a href="#firstSection">{{quiz}}</a></h1>
       <!--
        <a class="l-right toggle-menu" href="#">
          <i></i>
          <i></i>
          <i></i>
        </a>
      </div>

      <nav class="hide">
        <ul id="menu">
          <li data-menuanchor="firstSection">
            <a href="#firstSection" title="First Section">First Question</a>
          </li>
          <li data-menuanchor="secondSection">
            <a href="#secondSection" title="Second Section">Second Question</a>
          </li>
          <li data-menuanchor="thirdSection">
            <a href="#thirdSection" title="Second Section">Third Section</a>
          </li>
          <li data-menuanchor="fourthSection">
            <a href="#fourthSection" title="Fourth Section">Fourth Section</a>
          </li>
          <li data-menuanchor="fifthSection">
            <a href="#fifthSection" title="First Slide">First Slide</a>
          </li>
          <li data-menuanchor="fifthSection/1">
            <a href="#fifthSection/1" title="Second Slide">Second Slide</a>
          </li>
        </ul>
      </nav>
      -->
    </header>

    <div id="fullpage">
      <section class="vertical-scrolling">


          {% for item in question_list %}
          <div class="horizontal-scrolling">

                 <h2>   <li>{{ item|get_value_from_dict:'question' }}</li>
                        <li>{% for x in item|get_value_from_dict:'choices' %}
                            {{ x }}
                            {% endfor %}
                        </li>


                     <h2/>





             <a id="button2Id" href="#firstSection/2" class="icon-up-open-big"></a>
          </div>
          {% endfor %}


        <!--
        <div class="horizontal-scrolling">
          <h2>fullPage.js</h2>
          <h3>This is the 2 slide</h3>
          <p class="end">Thank you!</p>
        </div>
        <div class="horizontal-scrolling">
          <h2>fullPage.js</h2>
          <h3>This is the 3 slide</h3>
          <p class="end">Thank you!</p>
        </div>
        -->
      </section>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js'></script>

    <script>

        // variables
        var $header_top = $('.header-top');
        var $nav = $('nav');

        // toggle menu
        $header_top.find('a').on('click', function() {
          $(this).parent().toggleClass('open-menu');
        });



        // fullpage customization
        $('#fullpage').fullpage({
          sectionsColor: ['#348899'],
          sectionSelector: '.vertical-scrolling',
          slideSelector: '.horizontal-scrolling',
          navigation: true,
          slidesNavigation: false,
          controlArrows: true,
          anchors: ['firstSection'],
          menu: '#menu',

          afterLoad: function(anchorLink, index) {
            $header_top.css('background', 'rgba(0, 47, 77, .3)');
            $nav.css('background', 'rgba(0, 47, 77, .25)');
            if (index == 5) {
                $('#fp-nav').hide();
              }
          },

          onLeave: function(index, nextIndex, direction) {
            if(index == 5) {
              $('#fp-nav').show();
            }
          },

          afterSlideLoad: function( anchorLink, index, slideAnchor, slideIndex) {
            if(anchorLink == 'fifthSection' && slideIndex == 1) {
              $.fn.fullpage.setAllowScrolling(false, 'up');
              $header_top.css('background', 'transparent');
              $nav.css('background', 'transparent');
              $(this).css('background', '#374140');
              $(this).find('h2').css('color', 'white');
              $(this).find('h3').css('color', 'white');
              $(this).find('p').css(
                {
                  'color': '#DC3522',
                  'opacity': 1,
                  'transform': 'translateY(0)'
                }
              );
            }
          },

          onSlideLeave: function( anchorLink, index, slideIndex, direction) {
            if(anchorLink == 'fifthSection' && slideIndex == 1) {
              $.fn.fullpage.setAllowScrolling(true, 'up');
              $header_top.css('background', 'rgba(0, 47, 77, .3)');
              $nav.css('background', 'rgba(0, 47, 77, .25)');
            }
          }
        });
        $(document).on('click', '#button2Id', function() {
        alert("clicado")
});

    </script>

</body>

</html>