{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
		@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
		@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
	</style>

</head>
<body>
    <div class="container container-fluid">
     <div class="jumbotron text-center">
          <h1 class="display-3">Thank You!</h1>
          <p class="lead">
              the data has been forwarded to our team, your feedback is very important so that we can improve our services
          </p>
          <hr>

    </div>

    </div>


    <script src="{% static 'js/jquery.js'%}"></script>

    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>